/*GENERAL*/
html{
  scroll-behavior: smooth;
}
body{
    color: #A4978E;
    font-family: Century Gothic;
    /*background-color: #C4DCDA;*/
    background: url("../background1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    align-content: center;
}
.loginbox{   
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.mainbox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    opacity: 0.98;    
}
.userbox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    opacity: 0.98;
}
.adminbox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.recuperarbox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.recuperarboxdos{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.usertext
{
    animation-name: usertext_animation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes usertext_animation
{
    0% {color: #54678F;}
    50% {color: #9199BE;}
    100% {color: #74593D;}
}
.mini{
    color: #A7414A;
    font-weight: bold;
    opacity: 0.9;
}
.table-dark{
    color: #A4978E;
    background-color: #212624;
    text-align: center;
    opacity: 0.98;
}
.carritotable{
    color: #A4978E;
    background-color: #2E303E;
    text-align: center;
    opacity: 0.98;
}
.title{
    font-weight: bold;
    color: #BE9063;
    text-align: center;
}
.tabletitle{
    font-weight: bold;
    color: #A7414A;
    text-align: center;
}
.tabletitletitle{
    font-weight: bold;
    color: #A8518B;
    text-align: center;
}
.carritotitulo{
    font-weight: bold;
    color: #BE9063;
    text-align: center;
}
.enlaces{
    color: #6fa6d9;
}
.carritobox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.facturabox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    text-align: center;
    opacity: 0.98;
}
.listabox{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    opacity: 0.98;
}
.listabox2{
    color: #A4978E;
    background-color: #212624;
    height: auto;
    opacity: 0.98;
}

/*PANTALLAS 360 Y 480*/
@media screen and (min-width: 300px) and (max-width: 949px)
{
    body
    {
        font-size: 14px;
        margin: 25px;
    }
    .btn{
        font-size: 12px;
    }
    .loginbox{
        width: 100%;
        padding: 30px;
        border-radius: 30px;
    }
    .mainbox{     
        width: 100%;
        padding: 40px;
        border-radius: 40px;
    }
    .userbox{
        width: 100%;
        padding: 60px;
        border-radius: 40px;
    }
    .adminbox{   
        width: 100%;
        padding: 50px;
        border-radius: 40px;
    }
    .recuperarbox{
        width: 100%;
        padding: 70px;
        border-radius: 20px;
    }
    .recuperarboxdos{
        width: 100%;
        padding: 70px;
        border-radius: 20px;
    }
    .mini{
        font-size: 10px;
    }
    .table-dark{
        font-size: 13px;
        width: auto;
    }
    .carritotable{
        border-radius: 30px;
        font-size: 13px;
        width: 90%;
    }
    .title{
        font-size: 24px;
    }
    .tabletitle{
        font-size: 18px;
    }
    .tabletitletitle{
        font-size: 19px;
    }
    .carritotitulo{
        font-size: 18px;
    }
}
.carritobox{
    padding: 30px;
    border-radius: 20px;
    width: 60%;
}
.facturabox{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-left: 10px;
    border-radius: 20px;
    width: 90%;
}
.listabox{     
    width: 100;
    padding: 10px;
    border-radius: 30px;
}
.listabox2{     
    width: 100;
    padding: 10px;
    border-radius: 30px;
}

/*PANTALLAS 720*/
@media screen and (min-width: 950px) and (max-width: 1500px)
{
    body
    {
        font-size: 24px;
        margin: 30px;
    }
    .btn{
        font-size: 20px;
    }
    .loginbox{
        width: 46%;
        padding: 50px;
        border-radius: 40px;
    }
    .mainbox{     
        width: 70%;
        padding: 30px;
        border-radius: 40px;
    }
    .userbox{
        width: 45%;
        padding: 60px;
        border-radius: 40px;
    }
    .adminbox{   
        width: 45%;
        padding: 50px;
        border-radius: 40px;
    }
    .recuperarbox{
        width: 50%;
        padding: 70px;
        border-radius: 20px;
    }
    .recuperarboxdos{
        width: 55%;
        padding: 70px;
        border-radius: 20px;
    }
    .mini{
        font-size: 14px;
    }
    .table-dark{
        font-size: 20px;
        width: 60%;
    }
    .carritotable{
        border-radius: 30px;
        font-size: 20px;
        width: 70%;
    }
    .title{
        font-size: 34px;
    }
    .tabletitle{
        font-size: 28px;
    }
    .tabletitletitle{
        font-size: 30px;
    }
    .carritotitulo{
        font-size: 25px;
    }
}
.carritobox{
    padding: 30px;
    border-radius: 20px;
    width: 60%;
}
.facturabox{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-left: 10px;
    border-radius: 20px;
    width: 70%;
}
.listabox{     
    width: 100%;
    padding: 10px;
    border-radius: 40px;
}
.listabox2{     
    width: 80%;
    padding: 10px;
    border-radius: 40px;
}

/*PANTALLAS 1080*/
@media only screen and (min-width: 1501px)
{
    body
    {
        font-size: 26px;
        margin: 40px;
    }
    .btn{
        font-size: 24px;
    }
    .loginbox{
        width: 46%;
        padding: 50px;
        border-radius: 40px;
    }
    .mainbox{     
        width: 70%;
        padding: 40px;
        border-radius: 40px;
    }
    .userbox{
        width: 45%;
        padding: 60px;
        border-radius: 40px;
    }
    .adminbox{   
        width: 45%;
        padding: 50px;
        border-radius: 40px;
    }
    .recuperarbox{
        width: 40%;
        padding: 70px;
        border-radius: 20px;
    }
    .recuperarboxdos{
        width: 45%;
        padding: 70px;
        border-radius: 20px;
    }
    .mini{
        font-size: 16px;
    }
    .table-dark{
        font-size: 20px;
        width: 80%;
    }
    .carritotable{
        border-radius: 30px;
        font-size: 21px;
        width: 80%;
    }
    .title{
        font-size: 42px;
    }
    .tabletitle{
        font-size: 30px;
    }
    .tabletitletitle{
        font-size: 34px;
    }
    .carritotitulo{
        font-size: 30px;
    }
}
.carritobox{
    padding: 30px;
    border-radius: 20px;
    width: 60%;
}
.facturabox{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-left: 10px;
    border-radius: 20px;
    width: 70%;
}
.listabox{     
    width: 100%;
    padding: 10px;
    border-radius: 40px;
}
.listabox2{     
    width: 80%;
    padding: 10px;
    border-radius: 40px;
}