/*GENERAL*/
html{
    scroll-behavior: smooth;
  }
  body{
      color: #A4978E;
      font-family: Century Gothic;
      /*background-color: #C4DCDA;*/
      background: url("../background1.jpg");
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: fixed;
      margin: 20px;
      align-content: center;
  }
  .container-fluid {
    color: #A4978E;
    background-color: #212624;
    height: auto;
    opacity: 0.98;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
  }
  #cliente {
    color: silver;
    text-align: right;
  }
  .usertext
  {
      animation-name: usertext_animation;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
  @keyframes usertext_animation
  {
      0% {color: #54678F;}
      50% {color: #9199BE;}
      100% {color: #74593D;}
  }
  .mini{
      color: #A7414A;
      font-weight: bold;
      opacity: 0.9;
  }
  .table-dark{
      color: #A4978E;
      background-color: #212624;
      text-align: center;
      opacity: 0.98;
  }
  .carritotable{
      color: #A4978E;
      background-color: #2E303E;
      text-align: center;
      opacity: 0.98;
  }
  .title{
      font-weight: bold;
      color: #BE9063;
      text-align: center;
  }
  .tabletitle{
      font-weight: bold;
      color: #A7414A;
      text-align: center;
  }
  .tabletitletitle{
      font-weight: bold;
      color: #A8518B;
      text-align: center;
  }
  .carritotitulo{
      font-weight: bold;
      color: #BE9063;
      text-align: center;
  }
  .enlaces{
      color: #6fa6d9;
  }
  .carritobox{
      color: #A4978E;
      background-color: #212624;
      height: auto;
      text-align: center;
      opacity: 0.98;
  }
  .facturabox{
      color: #A4978E;
      background-color: #212624;
      height: auto;
      text-align: center;
      opacity: 0.98;
  }
  .listabox{
      color: #A4978E;
      background-color: #212624;
      height: auto;
      opacity: 0.98;
  }
  .listabox2{
      color: #A4978E;
      background-color: #212624;
      height: auto;
      opacity: 0.98;
  }